<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="second"></ion-menu-button>
    </ion-buttons>
    <ion-title>Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div>
    <form #form="ngForm" (ngSubmit)="resetPassword(form)">
      <div style="margin-left: 15px; margin-right: 15px; margin-top: 20px;">
        <ion-label style="font-size: 18px;">Ingrese su correo electronico</ion-label>
        <ion-item>
          <ion-input name="email" type="email" placeholder="your@email.com" ngModel required></ion-input>
        </ion-item>
      </div>

      <div style="text-align: center;margin: auto; margin-top: 10px;">
        <ion-button routerLink="/tabs/tab1/ingreso">Regresar</ion-button>
        <ion-button type="submit" [disabled]="form.invalid">Reset Now</ion-button>
      </div>
    </form>

  </div>


</ion-content>
