<ion-header>
  <ion-toolbar>
    <ion-title>Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="header">
    <ion-icon name="arrow-back" routerLink="/tabs/tab1/login-estudiante"></ion-icon>
  </div>


  <form #form="ngForm" (ngSubmit)="resetPassword(form)">
    <div>
      <ion-item>
        <ion-input name="email" type="email" placeholder="your@email.com" ngModel required></ion-input>
      </ion-item>
    </div>

    <div style="text-align: center;margin: auto;">
      <ion-button type="submit" [disabled]="form.invalid">Reset Now</ion-button>
    </div>
  </form>

</ion-content>
