div{
    margin-top:15px ;
    margin-left: 9px;
}

#title-buscar{
    margin-left: 15px;
}

#btn-consultar{
    margin-left: 21px;
}

#btn-guardar{
    margin-top: 25px;
    margin-left: 118px;
    margin-right: 50px;
}