#bienvenido{
    font-size: 24px;
    margin-left: 0px;
    margin-top:15px;

  }
  
  p{
    margin-top: -3px;
    font-size: 19px;
    margin-left: 20px;
  }

  #parrafo{
    margin-top: -20px;
  }

  ion-img{
    display: block;
    margin: auto;
    width: 316px;
    margin-top: 50px;
  }