<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>Ingresar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <ion-img src="assets/images/Home/8747.jpg"></ion-img>
  </div>
  
  <ion-title>Hola,bienvenido</ion-title>
  <label>al campus estudiantil.</label>
  
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>¿Cómo deseas ingresar?</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <ion-button routerLink="/tabs/tab1/login-estudiante">Soy Estudiante</ion-button>
      <ion-button routerLink="/tabs/tab1/login-admin">Soy Administrador</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
