<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>Integrantes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <IonAvatar>
        <img src="https://image.freepik.com/vector-gratis/perfil-avatar-hombre-icono-redondo_24640-14044.jpg" height="50px" width="50px"/>
      </IonAvatar>
      <ion-card-subtitle>Desarrollador Front-End</ion-card-subtitle>
      <ion-card-title>Jonathan Morales Bonilla</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <IonAvatar>
        <img src="https://image.freepik.com/vector-gratis/perfil-avatar-hombre-icono-redondo_24640-14044.jpg" height="50px" width="50px"/>
      </IonAvatar>
      <ion-card-subtitle>Desarrollador Back-End</ion-card-subtitle>
      <ion-card-title>Miguel Patiño Nieves</ion-card-title>
    </ion-card-header>
  </ion-card>

</ion-content>
