<ion-content>

  <div class="header">
    <ion-icon name="arrow-back" routerLink="/tabs/tab1/ingreso"></ion-icon>
  </div>


  <div class="imgPresentacion">
    <ion-img src="assets/images/Admin/Teacher-rafiki.png"></ion-img>
  </div>
  <ion-title class="title">Iniciar sesión</ion-title>
  
  <form #form="ngForm" (ngSubmit)="loginUser(form)">

    <ion-item class="input1">
      <ion-label position="floating">Correo</ion-label>
      <ion-input name="email" type="email" placeholder="your@email.com" ngModel required></ion-input>
    </ion-item>

    <ion-item class="input">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input name="password" type="password" placeholder="password" ngModel required></ion-input>
    </ion-item>

    <div class="btn-login" style="text-align: center;margin: auto;">
      <ion-button type="submit" [disabled]="form.invalid">Iniciar sesión</ion-button>
    </div>
  </form>

  <div id="olvido" style="text-align: center;margin: auto;">
    <h6 (click)="goToReset()">Olvidé la contraseña</h6>
  </div>
</ion-content>
