<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <h1>Bienvenido a la app de registro estudiantil</h1>
  </ion-card>
  <ion-card>
    <h2>Para ver las opciones principales abre el menu:</h2>
    <ion-img src="assets/images/Tutorial/inicio.jpg"></ion-img>
  </ion-card>
  <ion-card>
    <h2>Para ver las opciones principales abre el menu:</h2>
    <ion-img src="assets/images/Tutorial/menu.png" height="200" width="80"></ion-img>
  </ion-card>
  <ion-card>
    <h2>Para ver las opciones principales abre el menu:</h2>
    <ion-img src="assets/images/Tutorial/menu1.jpg"></ion-img>
  </ion-card>

</ion-content>
